@import "../../styles/_colors";

.homepage {
}

.pageImage {
  background: url("../../images/home-page-img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 550px;
}

.pageContent {
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;

  .aboutUsTitle {
    display: block;
    font-size: 32px;
    padding-bottom: 1em;
  }

  .aboutUsContent {
  }
 
}
