@import "../../styles/_colors";

.footer {
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  text-align: left;
  span {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .copyright {
    text-align: right;
  }
}

.title {
  font-weight: bold;
}

.divider {
  border-bottom: 1px solid $white;
  margin-bottom: 1.5em;
  margin-top: 1em;
  width: 100%;
}
